body {
    background-color: #1a1d3c;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .ipc-page-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    text-shadow: 0 0 5px #00c6ff, 0 0 15px #00c6ff;
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #fff;
  }
  
  h1 {
    font-size: 3rem;
    text-align: center;
    color: #14b1c7;
    -webkit-text-stroke: 2px #45804c;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .card {
    background-color: #1f1f45;
    border: 1px solid #9fcc3b;
    color: #abd6e7;
    position: relative;
    overflow: hidden;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .form-group label {
    color: #00c6ff;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .card-title {
    font-size: 1.5rem;
    color: greenyellow;
    text-shadow: 0 0 5px #00c6ff, 0 0 10px #00c6ff;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
  }
  
  /* Filter buttons and checkboxes styling */
  .form-check label {
    color: #45804c;
    font-size: 1.1rem;
  }
  
  button {
    background-color: #14b1c7;
    border-color: #00c6ff;
  }
  
  button:hover {
    background-color: #00c6ff;
    border-color: #45804c;
  }
  
 /* Flexbox container for button alignment */
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  /* Align buttons vertically within the column */
  .d-flex.flex-column.justify-content-end {
    align-items: flex-start;
    margin-top: auto;
  }
  
  /* Add spacing between buttons */
  .d-flex button {
    margin-bottom: 8px; 
    padding: 8px 16px; 
    font-size: 1rem; 
    font-family: 'Orbitron', sans-serif;
    border-radius: 5px; 
    border: 2px solid transparent; 
    transition: all 0.3s ease; 
    text-transform: uppercase; 
  }
  
  /* Style for Apply Filters button */
  .d-flex button:nth-child(1) {
    background-color: #45804c; 
    color: #1a1d3c;
  
  }
  
  .d-flex button:nth-child(1):hover {
    background-color: greenyellow; 
    color: #1a1d3c; 
    box-shadow: 0 4px 8px rgba(0, 198, 255, 0.3); 
  }
  
  
  .d-flex button:nth-child(2) {
    background-color: #45804c; /* Secondary button color */
    color: #1a1d3c;
  }
  
  .d-flex button:nth-child(2):hover {
    background-color: greenyellow; /* Hover background color */
    box-shadow: 0 4px 8px rgba(0, 198, 255, 0.3);

  }
  
  
  .d-flex.flex-column {
    margin-top: 10px;
  }

  .icon-size {
    font-size: 1.2em;
    vertical-align: middle; 
  }
  
  .me-1 {
    margin-right: 0.25rem;
  }
  
  .me-2 {
    margin-right: 0.5rem;
  }
  
  .text-muted {
    color: #6c757d;
  }
  .character-list-container {
    background-image: url('../assets/background.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    padding: 20px; 
  }
  